---
# tasks file for kibana

- name: Include distribution specific variables
  include_vars: "{{ ansible_distribution }}.yml"
  tags:
    - kibana

- include: CentOS.yml
  when: ansible_distribution == "CentOS"
  tags:
    - kibana

- include: Ubuntu.yml
  when: ansible_distribution == "Ubuntu"
  tags:
    - kibana

- name: Create Kibana defaults file
  become: yes
  template:
    src: kibana.defaults.j2
    dest: /etc/default/kibana
    owner: root
    group: root
    mode: 0664
  notify:
    - restart kibana
  tags:
    - kibana

- name: Create Kibana configuration file
  become: yes
  template:
    src: kibana.yml.j2
    dest: "/opt/kibana/config/kibana.yml"
    owner: root
    group: root
    mode: 0664
  tags:
    - kibana

- name: Ensure Kibana is started and enalbed on boot
  become: yes
  service:
    name: "{{ kibana_service_name }}"
    state: started
    enabled: yes
  tags:
    - kibana
