# {{ ansible_managed }}

server.port: {{ kibana_server_port }}
server.host: "{{ kibana_server_host }}"
server.basePath: "{{ kibana_server_base_path }}"
server.maxPayloadBytes: {{ kibana_server_max_payload_bytes }}

elasticsearch.url: "{{ kibana_elasticsearch_url }}"
{% if kibana_elasticsearch_preserve_host %}
elasticsearch.preserveHost: true
{% else %}
elasticsearch.preserveHost: false
{% endif %}

kibana.index: "{{ kibana_index }}"
kibana.defaultAppId: "{{ kibana_default_app_id }}"

{% if kibana_elasticsearch_username %}
elasticsearch.username: "{{ kibana_elasticsearch_username }}"
{% endif %}
{% if kibana_elasticsearch_password %}
elasticsearch.password: "{{ kibana_elasticsearch_password }}"
{% endif %}

{% if kibana_server_ssl_cert %}
server.ssl.cert: {{ kibana_server_ssl_cert }}
{% endif %}
{% if kibana_server_ssl_key %}
server.ssl.key: {{ kibana_server_ssl_key }}
{% endif %}

{% if kibana_elasticsearch_ssl_cert %}
elasticsearch.ssl.cert: {{ kibana_elasticsearch_ssl_cert }}
{% endif %}
{% if kibana_elasticsearch_ssl_key %}
elasticsearch.ssl.key: {{ kibana_elasticsearch_ssl_key }}
{% endif %}

{% if kibana_elasticsearch_ssl_ca %}
elasticsearch.ssl.ca: {{ kibana_elasticsearch_ssl_ca }}
{% endif %}

{% if kibana_elasticsearch_ssl_verify %}
elasticsearch.ssl.verify: true
{% else %}
elasticsearch.ssl.verify: false
{% endif %}

elasticsearch.pingTimeout: {{ kibana_elasticsearch_ping_timeout }}

elasticsearch.requestTimeout: {{ kibana_elasticsearch_request_timeout }}

elasticsearch.shardTimeout: {{ kibana_elasticsearch_shard_timeout }}

elasticsearch.startupTimeout: {{ kibana_elasticsearch_startup_timeout }}

pid.file: {{ kibana_pid_file }}

logging.dest: {{ kibana_logging_dest }}

{% if kibana_logging_silent %}
logging.silent: true
{% else %}
logging.silent: false
{% endif %}

{% if kibana_logging_quiet %}
logging.quiet: true
{% else %}
logging.quiet: false
{% endif %}

{% if kibana_logging_verbose %}
logging.verbose: true
{% else %}
logging.verbose: false
{% endif %}
